/* Example styling of a h1 element */
h1 {
  text-transform: uppercase;
  margin-top: 70px;
  text-align: center;
  font-size: 70px;
}
body {
  font-family: futura;
  background-color: purple;
  color: violet;
  }

  h2 {
    text-align: left;
    margin-left: 50px;
    font-size: 55px;
  }

  p {
    font-size: 35px;
    margin-left: 50px;
  }
